body {
  direction: rtl;
  font-family: Sahel;
}
@font-face {
  font-family: Sahel;
  src: url(./Sahel-SemiBold.ttf);
}
#LI {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.navbar-brand img {
  max-width: 19%;
  margin-top: 5px;
  border-radius: 30px;
  border: 3px solid red;
}
/* sidenav */
.carousel-inner .carousel-item {
  /* background-color: red; */
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 7px;
}
.carousel-inner .carousel-item img {
  max-width: 100%;
}
#Sidenav {
  height: auto;
}
#checkbox {
  direction: rtl;

  /* background-color: red; */
}
#checkbox ul {
  overflow: hidden;
  /* margin: auto -3em 1em 0; */
  padding: 0;
  /* position:relative; */
  /* float: right; */
  /* -moz-column-count: 2;
  -moz-column-gap: 20%;
  -webkit-column-count: 2;
  -webkit-column-gap: 20%;
  column-count: 2;
  column-gap: 20%; */
}
#checkbox li {
  display: flex;
  margin: 5px;
}
#checkbox li input {
  margin-left: 10px;
}

#inputs input {
  margin: 5px;
}

form .col-12 button {
  width: 100%;
  margin: 0 auto;
}

/* sidenav */

/* main */
.purchases,
.sales {
  direction: ltr;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: flex-start;
  align-content: normal;
  justify-content: center;
}

.purchases h6,
.sales h6 {
  background-color: white;
  width: 100%;
}
.card {
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.1);
}
.card img {
  border-radius: 25px 25px 0px 0px;
  padding: 10px;
}
.purchases .list-group-item,
.sales .list-group-item {
  text-align: right;
}
.purchases .card-body button,
.sales .card-body button {
  width: 100%;
}
.purchases .card-body button a,
.sales .card-body button a {
  color: white;
  text-decoration: none;
}
.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
/* main */
#LI {
  /* display: block; */
}
#Sidenavdropdown {
  display: none;
}
#bottom {
  display: none;
}
@media only screen and (max-width: 575px) {
  #bottom button {
    /* background-color: initial; */
    background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
    /* box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px; */
    cursor: pointer;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(0.5em - 1px) 1em;
    margin: 0.5em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  #bottom button a,
  #bottom button span {
    text-decoration: none;
    color: white;
  }

  #bottom {
    display: block;
    background-color: rgba(0, 0, 0, 0.169);
    backdrop-filter: blur(20px);
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    width: 100%;
    font-weight: normal;
  }
  #bottom img {
    max-width: 10%;
    margin-top: 5px;
    border-radius: 30px;
    border: 3px solid red;
  }
  #Sidenav {
    display: none;
  }
  #LI {
    display: none;
  }
  #Sidenavdropdown {
    display: block;
  }
  #Sidenavdropdowns {
    overflow-x: scroll;
    height: 500px;
  }
  #checkbox,
  #inputs {
    margin-top: 10px;
    margin-right: 10px;
  }
  .navbar {
    background-color: rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(20px);
    /* border-radius: 50px 0px 0px 50px; */
  }
}
