body {
  direction: rtl;
  font-family: Sahel;
}
@font-face {
  font-family: Sahel;
  src: url(./Sahel-SemiBold.ttf);
}
#LI {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* sidenav */
#Sidenav {
  height: auto;
}
#checkbox {
  direction: rtl;

  /* background-color: red; */
}
#checkbox ul {
  overflow: hidden;
  /* margin: auto -3em 1em 0; */
  padding: 0;
  /* position:relative; */
  /* float: right; */
  /* -moz-column-count: 2;
  -moz-column-gap: 20%;
  -webkit-column-count: 2;
  -webkit-column-gap: 20%;
  column-count: 2;
  column-gap: 20%; */
}
#checkbox li {
  display: flex;
  margin: 5px;
}
#checkbox li input {
  margin-left: 10px;
}

#inputs input {
  margin: 5px;
}

form .col-12 button {
  width: 100%;
  margin: 0 auto;
}

/* sidenav */

/* main */
.purchases,
.sales {
  direction: ltr;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: flex-start;
  align-content: normal;
  justify-content: center;
}

.purchases h6,
.sales h6 {
  background-color: white;
  width: 100%;
}
.card {
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 4px rgba(0, 0, 0, 0.1);
}
.card img {
  border-radius: 25px 25px 0px 0px;
  padding: 10px;
}
.purchases .list-group-item,
.sales .list-group-item {
  text-align: right;
}
.purchases .card-body button,
.sales .card-body button {
  width: 100%;
}
.purchases .card-body button a,
.sales .card-body button a {
  color: white;
  text-decoration: none;
}

/* main */
#LI {
  /* display: block; */
}
#Sidenavdropdown {
  display: none;
}
#bottom {
  display: none;
}
@media only screen and (max-width: 575px) {
  #bottom button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #ff7e31, #e62c03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0.5em;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(0.5em - 1px) 1em;
    margin: 0.5em;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  #bottom button a {
    text-decoration: none;
    color: white;
  }
  #bottom {
    display: block;
    background-color: rgba(255, 255, 255, 0.605);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    font-size: 14px;
    width: 100%;

    font-weight: normal;
  }
  #Sidenav {
    display: none;
  }
  #LI {
    display: none;
  }
  #Sidenavdropdown {
    display: block;
  }
}
